<a href="https://colab.research.google.com/github/Noahbisht0/Machine-Learning-IBM-db2_sql/blob/main/AI19_contentbased.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget -O moviedataset.zip https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/moviedataset.zip
!unzip -o -j moviedataset.zip

--2021-04-07 09:59:20--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/moviedataset.zip
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 160301210 (153M) [application/zip]
Saving to: ‘moviedataset.zip’

moviedataset.zip    100%[===================>] 152.88M  36.2MB/s    in 4.3s

2021-04-07 09:59:25 (35.8 MB/s) - ‘moviedataset.zip’ saved [160301210/160301210]

Archive:  moviedataset.zip
  inflating: links.csv
  inflating: movies.csv
  inflating: ratings.csv
  inflating: README.txt
  inflating: tags.csv

In [ ]:
import pandas as pd
import numpy as np 
from math import sqrt
import matplotlib.pyplot as plt

In [ ]:
movies_df = pd.read_csv('movies.csv')
ratings_df = pd.read_csv('ratings.csv')
movies_df.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [ ]:
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)',expand=False)
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())
movies_df.head()

   movieId  ...  year
0        1  ...  1995
1        2  ...  1995
2        3  ...  1995
3        4  ...  1995
4        5  ...  1995

[5 rows x 4 columns]

In [ ]:
movies_df['genres'] = movies_df.genres.str.split('|')
movies_df.head()

   movieId  ...  year
0        1  ...  1995
1        2  ...  1995
2        3  ...  1995
3        4  ...  1995
4        5  ...  1995

[5 rows x 4 columns]

In [ ]:
movieswithgenres = movies_df.copy()
for index,row in movies_df.iterrows():
  for genre in row['genres']:
    movieswithgenres.at[index,genre]=1
movieswithgenres = movieswithgenres.fillna(0)
movieswithgenres.head()

   movieId                        title  ... Film-Noir (no genres listed)
0        1                    Toy Story  ...       0.0                0.0
1        2                      Jumanji  ...       0.0                0.0
2        3             Grumpier Old Men  ...       0.0                0.0
3        4            Waiting to Exhale  ...       0.0                0.0
4        5  Father of the Bride Part II  ...       0.0                0.0

[5 rows x 24 columns]

In [ ]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496

In [ ]:
ratings_df = ratings_df.drop("timestamp",1)
ratings_df.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

In [ ]:
userinput = [
             {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
]
inputmovies = pd.DataFrame(userinput)
inputmovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

In [ ]:
inputid = movies_df[movies_df['title'].isin(inputmovies['title'].tolist())]
inputmovies = pd.merge(inputid,inputmovies)
inputmovies = inputmovies.drop('genres',1).drop('year',1)
inputmovies

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

In [ ]:
usermovie = movieswithgenres[movieswithgenres['movieId'].isin(inputmovies['movieId'].tolist())]
usermovie

      movieId                title  ... Film-Noir (no genres listed)
0           1            Toy Story  ...       0.0                0.0
1           2              Jumanji  ...       0.0                0.0
293       296         Pulp Fiction  ...       0.0                0.0
1246     1274                Akira  ...       0.0                0.0
1885     1968  Breakfast Club, The  ...       0.0                0.0

[5 rows x 24 columns]

In [ ]:
usergenretable = usermovie.drop('movieId',1).drop('title',1).drop('year',1).drop('genres',1)
usergenretable

      Adventure  Animation  Children  ...  Western  Film-Noir  (no genres listed)
0           1.0        1.0       1.0  ...      0.0        0.0                 0.0
1           1.0        0.0       1.0  ...      0.0        0.0                 0.0
293         0.0        0.0       0.0  ...      0.0        0.0                 0.0
1246        1.0        1.0       0.0  ...      0.0        0.0                 0.0
1885        0.0        0.0       0.0  ...      0.0        0.0                 0.0

[5 rows x 20 columns]

In [ ]:
userprofile = usergenretable.transpose().dot(inputmovies['rating'])

ValueError: ignored

In [ ]:
genretable = movieswithgenres.set_index(movieswithgenres['movieId'])
genretable = genretable.drop("genres",1).drop('title',1).drop("year",1)
genetable.head()

In [ ]:
recommendationtable_df = ((userprofile*genretable).sum(axis=1))/(userprofile.sum())
recommendation.head()

In [ ]:
recommendation_df = recommendation.sort_values(ascending=False)
recommendation_df.head()

In [ ]:
movies_df.loc[movies_df['movieId'].isin(recommendation_df.head(20).keys())]