In [ ]:
!pip install bs4

Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4) (4.6.3)

In [ ]:
from bs4 import BeautifulSoup
import requests

In [ ]:
url = "http://www.ibm.com"

In [ ]:
data = requests.get(url).text

In [ ]:
soup = BeautifulSoup(data,"html5lib")

In [ ]:
for link in soup.find_all('a',href=True):
  print(link.get('href'))

https://www.ibm.com/nl/en
https://www.ibm.com/sitemap/nl/en
/nl-en/node/1706826
https://ibm.box.com/shared/static/pnj81e7lncy7fj9tpjb8i3uahk4dr9rv.jpg
https://ibm.box.com/shared/static/0ovwrgh9cfs46k141wspzzvd40cf8m2j.jpg
https://www.ibm.com/cloud/go-hybrid?lnk=nlhpv18l1
/taxonomy/term/85416
/nl-en/node/1706856
https://newsroom.ibm.com/2020-12-21-IBM-to-Acquire-Nordcloud-to-Turbocharge-Its-Hybrid-Cloud-Consulting-Capability?lnk=nlhpv18nf
/taxonomy/term/85416
/nl-en/node/1706851
/nl-en/node/1706831
/nl-en/node/1706836
/nl-en/node/1706841
/nl-en/node/1706846
/taxonomy/term/85416
/nl-en/node/1706821
/taxonomy/term/85416
https://www.ibm.com/nl-en/employment/
/nl-en/node/1706816
https://www.ibm.com/nl-en/products/offers-and-discounts?lnk=STW_NL_HP_T_TL&psrc=NONE&pexp=DEF&lnk2=goto_MPDISC
/nl-en/node/1706801
/nl-en/node/1706806
/nl-en/node/1706796
/nl-en/node/1706811
/taxonomy/term/85416
/nl-en/node/1706866
/en/node/1706861
/taxonomy/term/85416
https://www.ibm.com/cloud/go-hybrid?lnk=nlhpv18l1
https://www.ibm.com/cloud/go-hybrid?lnk=nlhpv18l1
https://www.ibm.com/events/think?lnk=behpv18f1
https://www.ibm.com/cloud/go-hybrid?lnk=nlhpv18f2
https://www.ibm.com/nl-en/marketing/ibmlabs?lnk=nlhpv18f2
https://www.ibm.com/nl-en/marketing/this-is-ibm?lnk=nlhpv18f4
https://www.ibm.com/search?lang=en&amp;cc=nl&amp;q=
/nl-en/products
/nl-en/products
//www.ibm.com/nl-en/products/category/technology/analytics
//www.ibm.com/nl-en/products/category/technology/IT-infrastructure
//www.ibm.com/nl-en/products/category/technology/software-development
//www.ibm.com/nl-en/products/category/technology/cognitive-computing-and-AI
//www.ibm.com/nl-en/products/category/technology/IT-management
//www.ibm.com/nl-en/products/category/technology/blockchain
//www.ibm.com/nl-en/products/category/technology/mobile-technology
//www.ibm.com/nl-en/products/category/technology/cloud-computing
//www.ibm.com/nl-en/products/category/technology/security
//www.ibm.com/nl-en/products/category/technology/analytics
//www.ibm.com/nl-en/products/category/technology/IT-infrastructure
//www.ibm.com/nl-en/products/category/technology/software-development
//www.ibm.com/nl-en/products/category/technology/cognitive-computing-and-AI
//www.ibm.com/nl-en/products/category/technology/IT-management
//www.ibm.com/nl-en/products/category/technology/blockchain
//www.ibm.com/nl-en/products/category/technology/mobile-technology
//www.ibm.com/nl-en/products/category/technology/cloud-computing
//www.ibm.com/nl-en/products/category/technology/security
//www.ibm.com/nl-en/products/category/business/business-operations
//www.ibm.com/nl-en/products/category/business/customer-service-and-CRM
//www.ibm.com/nl-en/products/category/business/supply-chain-management
//www.ibm.com/nl-en/products/category/business/collaboration
//www.ibm.com/nl-en/products/category/business/finance
//www.ibm.com/nl-en/products/category/business/commerce
//www.ibm.com/nl-en/products/category/business/human-resources
//www.ibm.com/nl-en/products/category/business/content-management
//www.ibm.com/nl-en/products/category/business/marketing
https://www.ibm.com/nl-en/products/offers-and-discounts?lnk=STW_NL_HP_T_TL&psrc=NONE&pexp=DEF&lnk2=goto_MPDISC
https://www.ibm.com/nl-en/products/spectrum-scale?lnk=STW_NL_HP_T1_BLK&psrc=NONE&pexp=DEF&lnk2=trial_SpecScale
https://www.ibm.com/nl-en/cloud/watson-discovery?lnk=STW_NL_HP_T2_BLK&psrc=NONE&pexp=DEF&lnk2=trial_WatDiscovery
https://www.ibm.com/nl-en/products/rpa-with-automation-anywhere?lnk=STW_NL_HP_T3_BLK&psrc=NONE&pexp=DEF&lnk2=trial_RoboticProcess
https://www.ibm.com/nl-en/products/spss-statistics?lnk=STW_NL_HP_T4_BLK&psrc=NONE&pexp=DEF&lnk2=trial_SPSSstat
https://www.ibm.com/nl-en/employment/
https://www.ibm.com/nl-en/employment/
#

In [ ]:
for link in soup.find_all('img'):
  print(link)
  print(link.get('src'))

<img alt="Data" class="ibm-resize" src="https://ibm.box.com/shared/static/0ovwrgh9cfs46k141wspzzvd40cf8m2j.jpg"/>
https://ibm.box.com/shared/static/0ovwrgh9cfs46k141wspzzvd40cf8m2j.jpg
<img alt="think2021" class="ibm-resize ibm-flex" height="170" src="https://ibm.box.com/shared/static/v8rescj3ptye7cr7yuxorf0zsp7p80sz.jpg" width="300"/>
https://ibm.box.com/shared/static/v8rescj3ptye7cr7yuxorf0zsp7p80sz.jpg
<img alt="hybridcloud" class="ibm-resize ibm-flex" height="170" src="https://1.dam.s81c.com/public/content/dam/worldwide-content/homepage/ul/g/22/99/20201221-f-hybrid-444x320.jpg" width="300"/>
https://1.dam.s81c.com/public/content/dam/worldwide-content/homepage/ul/g/22/99/20201221-f-hybrid-444x320.jpg
<img alt="ibmlabs" class="ibm-resize ibm-flex" height="170" src="https://ibm.box.com/shared/static/vjk3vhs08nyjx1td09i3t0wv15evhvie.jpg" width="300"/>
https://ibm.box.com/shared/static/vjk3vhs08nyjx1td09i3t0wv15evhvie.jpg
<img alt="thisisibm" class="ibm-resize ibm-flex" height="170" src="https://1.dam.s81c.com/m/64ad5efc49c6474a/original/22052019-dede-thisisibm-444x320.png" width="300"/>
https://1.dam.s81c.com/m/64ad5efc49c6474a/original/22052019-dede-thisisibm-444x320.png
<img alt="IBM Spectrum Scale screenshot" class="ibm-resize ibm-flex" height="170" src="https://1.dam.s81c.com/public/content/dam/worldwide-content/homepage/ul/g/86/01/Spectrum_Scale_Trial.png" width="300"/>
https://1.dam.s81c.com/public/content/dam/worldwide-content/homepage/ul/g/86/01/Spectrum_Scale_Trial.png
<img alt="Watson Discovery screenshot" class="ibm-resize ibm-flex" height="170" src="https://1.dam.s81c.com/public/content/dam/worldwide-content/homepage/ul/g/bc/3b/watson-discovery-screenshot-444x260.png" width="300"/>
https://1.dam.s81c.com/public/content/dam/worldwide-content/homepage/ul/g/bc/3b/watson-discovery-screenshot-444x260.png
<img alt="IBM Robotic Process Automation screenshot" class="ibm-resize ibm-flex" height="170" src="https://1.dam.s81c.com/public/content/dam/worldwide-content/homepage/ul/g/3a/70/robotic-process-automation-trial-444x266.png" width="300"/>
https://1.dam.s81c.com/public/content/dam/worldwide-content/homepage/ul/g/3a/70/robotic-process-automation-trial-444x266.png
<img alt="IBM SPSS Statistics screenshot" class="ibm-resize ibm-flex" height="170" src="https://1.dam.s81c.com/public/content/dam/worldwide-content/other/ul/g/eb/4c/eb4c73f4-8a24-4755-99eeea6a81c6617f.png" width="300"/>
https://1.dam.s81c.com/public/content/dam/worldwide-content/other/ul/g/eb/4c/eb4c73f4-8a24-4755-99eeea6a81c6617f.png

In [ ]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

In [ ]:
data = requests.get(url).text

In [ ]:
soup = BeautifulSoup(data,"html5lib")

In [ ]:
table = soup.find("table")

In [ ]:
for rows in table.find_all('tr'):
  cols = rows.find_all('td')
  color_name = cols[2].string
  color_code = cols[3].string
  print("{}---->{}".format(color_name,color_code))

Color Name---->None
lightsalmon---->#FFA07A
salmon---->#FA8072
darksalmon---->#E9967A
lightcoral---->#F08080
coral---->#FF7F50
tomato---->#FF6347
orangered---->#FF4500
gold---->#FFD700
orange---->#FFA500
darkorange---->#FF8C00
lightyellow---->#FFFFE0
lemonchiffon---->#FFFACD
papayawhip---->#FFEFD5
moccasin---->#FFE4B5
peachpuff---->#FFDAB9
palegoldenrod---->#EEE8AA
khaki---->#F0E68C
darkkhaki---->#BDB76B
yellow---->#FFFF00
lawngreen---->#7CFC00
chartreuse---->#7FFF00
limegreen---->#32CD32
lime---->#00FF00
forestgreen---->#228B22
green---->#008000
powderblue---->#B0E0E6
lightblue---->#ADD8E6
lightskyblue---->#87CEFA
skyblue---->#87CEEB
deepskyblue---->#00BFFF
lightsteelblue---->#B0C4DE
dodgerblue---->#1E90FF

In [ ]:
import pandas as pd

In [ ]:
url = "https://en.wikipedia.org/wiki/World_population"

In [ ]:
data = requests.get(url).text

In [ ]:
soup = BeautifulSoup(data,"html5lib")

In [ ]:
tables = soup.find_all('table')

In [ ]:
len(tables)

25

In [ ]:
for index,table in enumerate(tables):
  if ("10 most densely populated countries" in str(table)):
    table_index = index
print(table_index)

5

In [ ]:
print(tables[table_index].prettify())

<table class="wikitable sortable" style="text-align:right">
 <caption>
  10 most densely populated countries
  <small>
   (with population above 5 million)
  </small>
 </caption>
 <tbody>
  <tr>
   <th>
    Rank
   </th>
   <th>
    Country
   </th>
   <th>
    Population
   </th>
   <th>
    Area
    <br/>
    <small>
     (km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
   <th>
    Density
    <br/>
    <small>
     (pop/km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
  </tr>
  <tr>
   <td>
    1
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="2880" data-file-width="4320" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/23px-Flag_of_Singapore.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/35px-Flag_of_Singapore.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/45px-Flag_of_Singapore.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Singapore" title="Singapore">
     Singapore
    </a>
   </td>
   <td>
    5,704,000
   </td>
   <td>
    710
   </td>
   <td>
    8,033
   </td>
  </tr>
  <tr>
   <td>
    2
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/23px-Flag_of_Bangladesh.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/35px-Flag_of_Bangladesh.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/46px-Flag_of_Bangladesh.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Bangladesh" title="Bangladesh">
     Bangladesh
    </a>
   </td>
   <td>
    170,250,000
   </td>
   <td>
    143,998
   </td>
   <td>
    1,182
   </td>
  </tr>
  <tr>
   <td>
    3
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/23px-Flag_of_Lebanon.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/35px-Flag_of_Lebanon.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/45px-Flag_of_Lebanon.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Lebanon" title="Lebanon">
     Lebanon
    </a>
   </td>
   <td>
    6,856,000
   </td>
   <td>
    10,452
   </td>
   <td>
    656
   </td>
  </tr>
  <tr>
   <td>
    4
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/23px-Flag_of_the_Republic_of_China.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/35px-Flag_of_the_Republic_of_China.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/45px-Flag_of_the_Republic_of_China.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Taiwan" title="Taiwan">
     Taiwan
    </a>
   </td>
   <td>
    23,604,000
   </td>
   <td>
    36,193
   </td>
   <td>
    652
   </td>
  </tr>
  <tr>
   <td>
    5
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/23px-Flag_of_South_Korea.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/35px-Flag_of_South_Korea.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/45px-Flag_of_South_Korea.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/South_Korea" title="South Korea">
     South Korea
    </a>
   </td>
   <td>
    51,781,000
   </td>
   <td>
    99,538
   </td>
   <td>
    520
   </td>
  </tr>
  <tr>
   <td>
    6
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="720" data-file-width="1080" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/23px-Flag_of_Rwanda.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/35px-Flag_of_Rwanda.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/45px-Flag_of_Rwanda.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Rwanda" title="Rwanda">
     Rwanda
    </a>
   </td>
   <td>
    12,374,000
   </td>
   <td>
    26,338
   </td>
   <td>
    470
   </td>
  </tr>
  <tr>
   <td>
    7
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/23px-Flag_of_Haiti.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/35px-Flag_of_Haiti.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/46px-Flag_of_Haiti.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Haiti" title="Haiti">
     Haiti
    </a>
   </td>
   <td>
    11,578,000
   </td>
   <td>
    27,065
   </td>
   <td>
    428
   </td>
  </tr>
  <tr>
   <td>
    8
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/23px-Flag_of_the_Netherlands.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/35px-Flag_of_the_Netherlands.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/45px-Flag_of_the_Netherlands.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Netherlands" title="Netherlands">
     Netherlands
    </a>
   </td>
   <td>
    17,570,000
   </td>
   <td>
    41,526
   </td>
   <td>
    423
   </td>
  </tr>
  <tr>
   <td>
    9
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="800" data-file-width="1100" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/21px-Flag_of_Israel.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/32px-Flag_of_Israel.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/41px-Flag_of_Israel.svg.png 2x" width="21"/>
    </span>
    <a href="/wiki/Israel" title="Israel">
     Israel
    </a>
   </td>
   <td>
    9,320,000
   </td>
   <td>
    22,072
   </td>
   <td>
    422
   </td>
  </tr>
  <tr>
   <td>
    10
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="900" data-file-width="1350" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/23px-Flag_of_India.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/35px-Flag_of_India.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/45px-Flag_of_India.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/India" title="India">
     India
    </a>
   </td>
   <td>
    1,373,980,000
   </td>
   <td>
    3,287,240
   </td>
   <td>
    418
   </td>
  </tr>
 </tbody>
</table>

In [ ]:
population_data = pd.DataFrame(columns=["Rank", "Country", "Population", "Area", "Density"])
for row in tables[table_index].tbody.find_all('tr'):
  col = row.find_all("td")
  if (col != []):
    rank = col[0].text
    country = col[1].text
    population = col[2].text.strip()
    area = col[3].text.strip()
    density = col[4].text.strip()
    population_data = population_data.append({"Rank":rank,"Country":country,"Population":population,"Area":area,"Density":density},ignore_index=True)
population_data

  Rank       Country     Population       Area Density
0    1     Singapore      5,704,000        710   8,033
1    2    Bangladesh    170,250,000    143,998   1,182
2    3       Lebanon      6,856,000     10,452     656
3    4        Taiwan     23,604,000     36,193     652
4    5   South Korea     51,781,000     99,538     520
5    6        Rwanda     12,374,000     26,338     470
6    7         Haiti     11,578,000     27,065     428
7    8   Netherlands     17,570,000     41,526     423
8    9        Israel      9,320,000     22,072     422
9   10         India  1,373,980,000  3,287,240     418

In [ ]:
pd.read_html(str(tables[0]),flavor='bs4')

[        World population (millions, UN estimates)[14]  ...
                                                     #  ...                                            2030[A]
 0                                                   1  ...                                               1416
 1                                                   2  ...                                               1528
 2                                                   3  ...                                                356
 3                                                   4  ...                                                295
 4                                                   5  ...                                                245
 5                                                   6  ...                                                228
 6                                                   7  ...                                                263
 7                                                   8  ...                                                186
 8                                                   9  ...                                                149
 9                                                  10  ...                                                148
 10                                                NaN  ...                                               8501
 11  Notes: ^ 2030 = Medium variant. ^ China exclud...  ...  Notes: ^ 2030 = Medium variant. ^ China exclud...

 [12 rows x 5 columns]]